<a href="https://colab.research.google.com/github/plotnikovnikita1990/netology/blob/main/%22%D0%92%D0%B2%D0%B5%D0%B4%D0%B5%D0%BD%D0%B8%D0%B5_%D0%B2_%D1%82%D0%B8%D0%BF%D1%8B_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85_%D0%B8_%D1%86%D0%B8%D0%BA%D0%BB%D1%8B_%D0%A7%D0%B0%D1%81%D1%82%D1%8C_1%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задание 1
Дана переменная, в которой хранится слово из латинских букв. Напишите код, который выводит на экран:

среднюю букву, если число букв в слове нечетное;
две средних буквы, если число букв четное.

In [ ]:
word = 'test'
len(word)
length = len(word)//2
if len(word)%2 != 0:
  print(word[length])
else:
  print(word[length-1:length+1])

es

Задание 2
Напишите программу, которая последовательно запрашивает у пользователя числа (по одному за раз) и после первого нуля выводит сумму всех ранее введенных чисел.

In [ ]:
sum = 0 # переменные лучше не называть операторами sum_
while True:
    x = int(input('Введите число: '))
    if x == 0:
        break
    sum += x
print(sum)

Введите число: 1
Введите число: 4
Введите число: 6
Введите число: 0
11

Задание 3
Мы делаем MVP dating-сервиса, и у нас есть список парней и девушек.
Выдвигаем гипотезу: лучшие рекомендации мы получим, если просто отсортируем имена по алфавиту и познакомим людей с одинаковыми индексами после сортировки! Но мы не будем никого знакомить, если кто-то может остаться без пары:

In [ ]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

if len(boys) != len(girls):
    print("Внимание, кто-то может остаться без пары!")
else:
    print('Идеальные пары:')
    boys_sorted = sorted(boys)
    girls_sorted = sorted(girls)
    for boy, girl in zip(boys_sorted, girls_sorted):
      print(f'{boy} и {girl}')

Идеальные пары:
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

Задание 4 У нас есть список, содержащий информацию о среднедневной температуре в Фаренгейтах за произвольный период по странам (структура данных в примере). Необходимо написать код, который рассчитает среднюю температуру за период в Цельсиях(!) для каждой страны.

Чтобы перевести градусы Фаренгейта в градусы Цельсия, нужно отнять от температуры по Фаренгейту 32, умножить полученное значение на 5 и разделить на 9

In [ ]:
countries_temperature = [
    ['Таиланд', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Германия', [57.2, 55.4, 59, 59, 53.6]],
    ['Россия', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Польша', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]
for country_name, temperature in countries_temperature:
    c_temps = [(temp - 32) * 5/9 for temp in temperature] # Конвертируем температуру из Фаренгейтов в Цельсии

    average_temps = round(sum(c_temps) / len(c_temps), 1)  # Вычисляем среднюю температуру в Цельсиях с округлением до 1 знака

    print(f'{country_name} - {average_temps} °C')

Таиланд - 23.9 °C
Германия - 13.8 °C
Россия - 3.7 °C
Польша - 12.0 °C

Задание 5 (необязательное)
Имеется список с транспортными номерами. Необходимо написать код, который проверит каждый номер на валидность (1 буква, 3 цифры, 2 буквы, 2-3 цифры). Обратите внимание, что не все буквы кириллического алфавита используются в транспортных номерах.

Если номер валиден, то вывести его в нужном формавте (пример ниже), а если не валиден — вывести текст. При решении помогут регулярные выражения, с которыми будет знакомство на практике.

в России используются 12 букв кириллицы: А, В, Е, К, М, Н, О, Р, С, Т, У и Х

In [ ]:
import re

car_ids = ['А222ВС96', 'АБ22ВВ193']

for car_id in car_ids:
    pattern = r'^([АВЕКМНОРСТУХ]\d{3}[АВЕКМНОРСТУХ]{2})(\d{2,3})$'
    match_result = re.search(pattern, car_id)
    if match_result:
        number_part = match_result.group(1)
        region = match_result.group(2)
        print(f'Номер {number_part} валиден. Регион: {region}')
    else:
        print(f'Номер {car_id} не валиден')

Номер А222ВС валиден. Регион: 96
Номер АБ22ВВ193 не валиден

Задание 6 (необязательное)
Дан поток логов по количеству просмотренных страниц для каждого пользователя (пользователь,дата;просмотры). Вам необходимо написать алгоритм, который считает среднее значение просмотров на пользователя. Т. е. надо посчитать отношение суммы всех просмотров к количеству уникальных пользователей. И тут регулярные выражения облегчат немного реализацию.

In [ ]:
stream = [
    'user100,2022-01-01;150',
    'user99,2022-01-07;205',
    'user1001,2022-03-29;81'
]

import re

total_views = 0
unique_users = set()

for log in stream:
  match_result = re.search(r'^([^,]+),([^;]+);(\d+)$', log)
  if match_result:
    user = match_result.group(1)
    views = int(match_result.group(3))
    unique_users.add(user)
    total_views += views

avg = round(total_views / len(unique_users), 2)

print (f'Среднее количество просмотров на уникального пользователя: {avg}')

Среднее количество просмотров на уникального пользователя: 145.33

In [ ]:
items = [1, 5, 76, 12, 123, 333, 5, 6, 7]