<a href="https://colab.research.google.com/github/plotnikovnikita1990/netology/blob/main/%D0%98%D1%81%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D1%8F_%D0%B8_%D0%BE%D0%B1%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B0_%D0%BE%D1%88%D0%B8%D0%B1%D0%BE%D0%BA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задание 1
Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:
The Moscow Times — Wednesday, October 2, 2002
The Guardian — Friday, 11.10.13
Daily News — Thursday, 18 August 1977

In [ ]:
from datetime import datetime

In [ ]:
the_moscow_times = 'Wednesday, October 2, 2002'
the_guardian = 'Friday, 11.10.13'
daily_news = 'Thursday, 18 August 1977'

In [ ]:
date_the_moscow_times = datetime.strptime(the_moscow_times, '%A, %B %d, %Y')
date_the_guardian_times = datetime.strptime(the_guardian, '%A, %d.%m.%y')
date_daily_news_times = datetime.strptime(daily_news, '%A, %d %B %Y')

print(date_the_moscow_times)
print(date_the_guardian_times)
print(date_daily_news_times)

2002-10-02 00:00:00
2013-10-11 00:00:00
1977-08-18 00:00:00

Задание 2
Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]

Напишите функцию, которая проверяет эти даты на корректность. То есть для каждой даты возвращает True — дата корректна или False — некорректная.

In [ ]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

In [ ]:
for dt in stream:
    # проверка корректности даты
    try:
        datetime.strptime(dt, '%Y-%m-%d')
        print(dt, 'дата корректна')
    except ValueError:  # проверяем исключительно тип ValueError
        print(dt, 'некорректная дата')

2018-04-02 дата корректна
2018-02-29 некорректная дата
2018-19-02 некорректная дата

Задание 3
Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [ ]:
from datetime import datetime, timedelta

In [ ]:
def date_range(start_date, end_date):
    date_list = []
    try:
        start_dt = datetime.strptime(start_date, '%Y-%m-%d') # форматирую дату в ГГГГ-ММ-ДД
        end_dt = datetime.strptime(end_date, '%Y-%m-%d') # форматирую дату в ГГГГ-ММ-ДД
        if start_dt > end_dt:
            return date_list
        while start_dt <= end_dt:
            date_list.append(start_dt.strftime('%Y-%m-%d'))  # добавляю в date_list
            start_dt += timedelta(days=1) # увеличиваю на 1 день
        return date_list
    except ValueError:  # проверяем исключительно тип ValueError
        return date_list
print(date_range('2025-04-01', '2025-04-07'))

['2025-04-01', '2025-04-02', '2025-04-03', '2025-04-04', '2025-04-05', '2025-04-06', '2025-04-07']

В третьем задании лучше не добавлять в конструкцию try-except много строк кода. Ошибка может возникнуть, например, в цикле (и надо будет разбираться что случилось). А функция все равно вернет пустой список как в случае неверной даты.

Лучше оставить в блоке только расшифровку дат:

In [ ]:
def date_range(start_date, end_date):
 try:
   start_dt = datetime.strptime(start_date, '%Y-%m-%d') # форматирую дату в ГГГГ-ММ-ДД
   end_dt = datetime.strptime(end_date, '%Y-%m-%d') # форматирую дату в ГГГГ-ММ-ДД
except ValueError:
   return []
print(date_range('2025-24-01', '2025-04-07'))

SyntaxError: expected 'except' or 'finally' block (<ipython-input-10-e4498fc655af>, line 5)

Задание 4 (необязательное)
Ваш коллега прислал код функции:

DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=[‘A100’, ‘A101’, ‘A102’]):
""“
Удаляет из списка default_list последнего пользователя
и возвращает ID нового последнего пользователя.
”""
element_to_delete = default_list[-1]
default_list.remove(element_to_delete)

1
return default_list[DEFAULT_USER_COUNT-2]
При однократном вызове этой функции всё работает корректно:
delete_and_return_last_user(1)
‘A101’

Однако при повторном вызове получается ошибка IndexError: list index out of range.

Задание:

Что значит ошибка list index out of range?
Почему при первом запуске функция работает корректно, а при втором — нет?

In [ ]:
def delete_and_return_last_user(region, default_list=['A100', 'A101', 'A102']):
    """
    Удаляет из списка default_list последнего пользователя
    и возвращает ID нового последнего пользователя.
    """
    element_to_delete = default_list[-1]
    default_list.remove(element_to_delete)
    return default_list[DEFAULT_USER_COUNT-2]

In [ ]:
delete_and_return_last_user(1)

IndexError: list index out of range

Ошибка IndexError: list index out of range возникает в Python, когда программа пытается получить доступ к элементу списка по индексу, который выходит за границы текущей длины списка. Например, если список содержит 2 элемента (индексы 0 и 1), а код пытается обратиться к индексу 2, Python выдаст эту ошибку.

При первом вызове delete_and_return_last_user(1) список становится ['A100', 101'] (2 элемента, индексы 0, 1). Возвращается 'A101'
При повторном вызове default_list=['A100'] (1 элемент, индекс 0), а default_list[DEFAULT_USER_COUNT-2] пытается вернуть элемент, которого уже нет в списке